<div class="wrapper">
  <header>
    <div class="logo">
      <a routerLink="/" title="Home page">
        <img src="../../assets/img/bike1.png" alt="logo">
      </a>
      <div class="logo-description">
        <p>Only</p>
        <p>best!</p>
      </div>
    </div>
    <div class="title">
      The most famous Bike Shop
    </div>
    <div class="logo-phone">
      <div class="phone">
        <p>8 800 000 00 00</p>
      </div>
      <div class="phone-image">
        <img src="../../assets/img/bike2.png" alt="logo2">
      </div>
    </div>
  </header>

  <nav>
    <ul>
      <li><a routerLink="bikes">Home</a></li>
      <li><a routerLink="/">About us</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="/">Register</a></li>
      <li><a routerLink="order">Order</a></li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <aside>
    <form action="#" class="search-form">
      <input type="text" placeholder="Search">
      <button type="submit">🔎︎</button>
      <input type="date" name="calendar" [ngModel]="today | date:'yyyy-MM-dd'" (ngModelChange)="today = $event">
    </form>
  </aside>

  <footer>
    <p>© Home Inc., 2022</p>
  </footer>
</div>