form {
  margin: 50px 0 0 250px;
  font-size: 1.3rem;
}

form label {
  width: 130px;
  display: inline-block;
}

form textarea {
  width: 309px;
  height: 85px;
}

button[type="submit"] {
  margin: 30px 0 0 300px;
  cursor: pointer;
  padding: 7px 10px;
}

button[type="button"] {
  margin: 20px 0 0 300px;
  cursor: pointer;
  padding: 7px 10px;
}

.name,
.surname,
.email,
.description {
  margin: 15px;
  display: flex;
  align-items: center;
}

.description {
  align-items: flex-start;
}

.error {
  margin: 0 0 0 150px;
  color: crimson;
  font-weight: bold;
  font-size: 1.1rem;
}

.hiddenData {
  margin: 50px 0 0 265px;
  font-size: 1.3rem;
}

h2 {
  margin-left: 250px;
  font-size: 1.7rem;
  color: #2c3e50;
}

