<div class="container">
  <h2>Contact Page</h2>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <div class="name">
        <label for="userName">Name: </label>
        <input type="text" name="userName" id="userName"
        #userName="ngModel" [(ngModel)]="newContact.userName"
        pattern="^[a-zA-Z]+$" minlength="3" required>
      </div>

      <div [hidden]="userName.valid || (userName.pristine && userName.untouched)" class="error">
        <div *ngIf="userName.errors?.['required']">
          Name is required
        </div>
        <div *ngIf="userName.errors?.['minlength']">
          Name must be at least 3 characters long
        </div>
        <div *ngIf="userName.errors?.['pattern']">
          Name doesn't seem right
        </div>
      </div>

      <div class="surname">
        <label for="userSurname">Surname: </label>
        <input type="text" name="userSurname" id="userSurname" #userSurname="ngModel" [(ngModel)]="newContact.userSurname"
        pattern="^[a-zA-Z]+$" minlength="3" required>
      </div>

      <div [hidden]="userSurname.valid || (userSurname.pristine && userSurname.untouched)" class="error">
        <div *ngIf="userSurname.errors?.['required']">
          Surname is required
        </div>
        <div *ngIf="userSurname.errors?.['minlength']">
          Surname must be at least 3 characters long
        </div>
        <div *ngIf="userSurname.errors?.['pattern']">
          Surname doesn't seem right
        </div>
      </div>

      <div class="email">
        <label for="userEmail">Email: </label>
        <input type="text" name="userEmail" id="userEmail" #userEmail="ngModel" [(ngModel)]="newContact.userEmail"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
      </div>

      <div [hidden]="userEmail.valid || (userEmail.pristine && userEmail.untouched)" class="error">
        <div *ngIf="userEmail.errors?.['required']">
          Email is required
        </div>
        <div *ngIf="userEmail.errors?.['pattern']">
          Email doesn't seem right
        </div>
      </div>

      <div class="description">
        <label for="userDescription">Description: </label>
        <textarea name="userDescription" id="userDescription" #userDescription="ngModel" [(ngModel)]="newContact.userDescription" minlength="3" maxlength="150" required></textarea>
      </div>

      <div [hidden]="userDescription.valid || (userDescription.pristine && userDescription.untouched)" class="error">
        <div *ngIf="userDescription.errors?.['required']">
          Description is required
        </div>
        <div *ngIf="userDescription.errors?.['minlength']">
          Description must be at least 3 characters long
        </div>
      </div>
      <button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted" class="hiddenData">
    <p><b>Name: </b>{{this.newContact.userName}}</p>
    <p><b>Surname: </b>{{this.newContact.userSurname}}</p>
    <p><b>Email: </b>{{this.newContact.userEmail}}</p>
    <p><b>Description: </b>{{this.newContact.userDescription}}</p>
    <button type="button" (click)="submitted=false">Back (Edit)</button>
  </div>
</div>