<div class="container" *ngIf="bike">
  <div class="picture">
    <img src="{{bike.imgUrl}}" alt="bike{{bike.id}}">
  </div>

  <div class="back">
    <button class="custom-btn btn" (click)="goBack()">Back</button>
  </div>

  <div class="info">
    <h1>{{bike.name}}</h1>
    <div class="wrapper">
      <label for="read-more">Read more or less</label>
      <input type="checkbox" id="read-more">
      <div class="description-block">
        {{bike.description}}
      </div>
    </div>

    <div class="price-block">
      {{bike.price | currency:'EUR':'symbol':'1.0-0'}}
    </div>

    <div class="fa-icons">
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <span>(1)</span>
    </div>

    <div class="reviews-block">
      <div class="read-review">
        Read 1 review
      </div>
      <div class="write review">
        Write a review
      </div>
    </div>

    <div class="color-block">
      <p>Color</p>
      <select name="color-name" id="color-id">
        <option selected>Select color</option>
        <option *ngFor="let b of bike.color">{{b}}</option>
      </select>
    </div>

    <div class="size-block">
      <p>Size</p>
      <select name="size-name" id="size-id">
        <option selected>Select size</option>
        <option *ngFor="let b of bike.size">{{b}}</option>
      </select>
    </div>

    <div class="availability">
      <span>Availability: </span>Please select options
    </div>

    <div class="quantity-block">
      <label for="quantity-id">Quantity</label>
      <input type="number" name="quantity-name" id="quantity-id">
    </div>
  </div>
  
  <div class="button-block">
    <button class="shopping-cart">
      <span class="material-icons-outlined">shopping_cart</span>
      <span class="add">Add to cart</span>
    </button>
    <button class="wish-list">
      <span class="material-icons">auto_fix_high</span>
      <span class="add">Add to Wish list</span>
    </button>
  </div>
</div>