* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  border-top: 5px solid #35363a;
}

.column {
  width: 25%;
  height: 33.333%;
}

.column1 {
  align-self: flex-end;
  background-color: #870d4f;
}

.column2 {
  align-self: center;
  background-color: #4a148b;
}

.column3 {
  background-color: #e65000;
  height: 100%;
}

.column4 {
  align-self: flex-start;
  background-color: #be350d;
}
