* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: cursive, serif;
}

div {
  color: blue;
}

.myTable {
  width: 400px;
  background-color: #ddd;
  border-collapse: collapse;
  margin: 20px auto;
}

.myTable th {
  background-color: dimgrey;
  color: white;
  width: 50%;
}

.myTable td,
.myTable th {
  padding: 5px;
  border: 1px solid #000;
}

#forecast {
  border: 1.5px solid #000;
  background-color: #ddd;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  align-self: center;
  margin-bottom: 5px;
}

hr {
  border: none;
  color: #000;
  background-color: #000;
  height: 1.5px;
  margin: 5px -11px 0;
}

