* {
  box-sizing: border-box;
}

a {
  color: lightblue;
}

h1 {
  font-size: 4em;
}

h1, h2 {
  margin: 0 0 10px 0;
}

img {
  display: block;
  width: 100%;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

.main-story .story-intro h2 {
  font-size: 2.5em;
}

.page-wrap {
  width: 800px;
  margin: 20px auto;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0;
}

.sub-story {
  float: left;
  width: 250px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
}

.last {
  margin-right: 0;
}

@media (min-width: 1200px) {
  .page-wrap {
    background-color: gray;
    width: 90vw;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 1.7vw;
  }

  .main-story .story-intro h2 {
    font-size: 4.5vw;
  }

  p {
    font-size: 1.5vw;
  }
  
  .page-wrap {
    width: 90vw;
  }

  .sub-stories {
    display: flex;
    justify-content: space-between;
  }

  .sub-stories p {
    font-size: 1.2vw;
  }

  .sub-story {
    flex: 0 1 32%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 2vw;
  }

  .main-story .story-intro h2 {
    font-size: 4.5vw;
  }

  p {
    font-size: 1.4vw;
  }

  .page-wrap {
    width: 90vw;
  }

  .story-intro {
    padding: 5px;
  }

  .sub-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sub-story {
    flex: 0 1 49%;
    margin: 0 0 20px 0;
  }

  .last {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 4vw;
  }
  
  .main-story {
    width: 100%;
  }

  .main-story .story-intro h2 {
    font-size: 5vw;
  }

  p {
    font-size: 3vw;
  }
  
  .page-wrap {
    width: 90vw;
  }

  .story-intro {
    padding: 5px;
  }
  
  .sub-story {
    width: 100%;
    margin-bottom: 10px;
  }

  .last {
    margin-bottom: 0;
  }
}

