@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "aside"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 40px;
  }

  aside {
    border-left: none;
    margin-bottom: 30px;
  }

  .fb-login-button {
    font-size: 1.5rem;
    margin: auto;
  }

  .enter {
    font-size: 1.5rem;
    margin: 30px auto 10px;
  }

  .register-form {
    font-size: 1.5rem;
    margin: auto;
    padding: 0;
  }

  footer,
  header {
    font-size: 1.3rem;
  }

  .logo-description {
    padding: 6px 0 0 15px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0;
  }

  nav {
    border-right: none;
    margin-bottom: 30px;
  }

  nav a {
    font-size: 3rem;
  }

  .search-form {
    width: 200px;
  }

  .search-form input {
    font-size: 1.5rem;
  }
}

