.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  height: calc(100% - 20px);
  margin: 10px;
}

.bike1,
.bike2,
.bike3,
.bike4 {
  background-color: #fff;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 45%;
  grid-template-rows: 20% 30% 1fr 10% 10%;
}

.bike1:hover,
.bike2:hover,
.bike3:hover,
.bike4:hover,
.top-bike:hover {
  outline: 3px solid red;
}

.bike1__discount,
.bike2__discount,
.bike3__discount,
.bike4__discount {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.bike1__discount-number,
.bike2__discount-number,
.bike3__discount-number,
.bike4__discount-number {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 1.4vw;
  height: 3.5vw;
  margin: 5% auto auto 5%;
  /* max-height: 100%; */
  padding-top: 6%;
  text-align: center;
  width: 3.5vw;
}

.bike1__image,
.bike2__image,
.bike3__image,
.bike4__image {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  /* margin: auto; */
}

.bike1__image img,
.bike2__image img,
.bike3__image img,
.bike4__image img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.bike1__new {
  display: flex;
  grid-column: 1 / 4;
}

.bike1__new p,
.bike2__free p,
.bike2__new p,
.bike3__free p,
.bike4__free p,
.bike4__new p,
.bike4__time time,
.top-bike__new p,
.top-bike__free p,
.top-bike__time time {
  margin: auto;
  white-space: nowrap;
}

.bike1__price,
.bike2__price,
.bike3__price,
.bike4__price {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  display: flex;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.bike1__price p,
.bike2__price p,
.bike3__price p,
.bike4__price p,
.top-bike__price p {
  margin: auto 0 auto 0.5vw;
}

.bike1__price p:first-child,
.bike2__price p:first-child,
.bike3__price p:first-child,
.bike4__price p:first-child,
.top-bike__price p:first-child {
  color: red;
  font-size: 1.3rem;
  font-weight: bold;
}

.bike1__price p:nth-child(2),
.bike2__price p:nth-child(2),
.bike3__price p:nth-child(2),
.bike4__price p:nth-child(2),
.top-bike__price p:nth-child(2) {
  text-decoration: line-through;
}

.bike1__text,
.bike2__text,
.bike3__text,
.bike4__text {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  overflow: auto;
  margin: 10px;
}

.bike2__free {
  grid-column: 2 / 4;
}

.bike2__free,
.bike2__new,
.bike4__free,
.bike4__new,
.bike4__time,
.top-bike__new,
.top-bike__free,
.top-bike__time {
  display: flex;
}

.bike2__new {
  border-right: 2px solid blue;
  grid-column: 1 / 2;
}

.bike3__free {
  display: flex;
  grid-column: 1 / 4;
}

.bike4__free {
  grid-column: 3 / 4;
}

.bike4__new {
  display: flex;
  grid-column: 1 / 2;
}

.bike4__time {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  grid-column: 2 / 3;
}

.top-bike {
  background-color: #fff;
  border: 1px solid red;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: 60% 10% 1fr 5%;
}

.top-bike__discount {
  grid-column: 1 / 2;
}

.top-bike__discount-number {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: 4vw;
  margin: 20% auto;
  padding-top: 26%;
  text-align: center;
  width: 4vw;
}

.top-bike__time {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}

.top-bike__image {
  display: flex;
  grid-column: 2 / 4;
  margin: auto;
}

.top-bike__image img {
  max-height: 100%;
  width: 100%;
}

.top-bike__price {
  border-top: 2px solid blue;
  display: flex;
  grid-column: 1 / 4;
}

.top-bike__text {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  grid-column: 1 / 4;
  padding: 10px;
  overflow: auto;
}

