@font-face {
  font-family: GlobeTrekkerOutlineItalic;
  src: local('GlobeTrekkerOutlineItalic'),
       url('../fonts/Globe Trekker Outline Italic/GlobeTrekkerOutlineItalic.woff2') format('woff2'),
       url('../fonts/Globe Trekker Outline Italic/GlobeTrekkerOutlineItalic.ttf') format('ttf'),
       url('../fonts/Globe Trekker Outline Italic/GlobeTrekkerOutlineItalic.otf') format('otf');
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: GlobeTrekkerOutlineItalic, cursive;
  font-weight: bold;
  background-color: beige;
  display: flex;
  justify-content: center;
}

form {
  box-shadow: 0px 0px 20px #00000020;
  border-radius: 8px;
}

legend {
  font-size: 2.5rem;
}

.group input {
  border: 1.5px solid rgba(128, 128, 128, 0.418);
  padding: 5px;
  margin: 5px 0 10px;
  border-radius: 4px;
}

.group label {
  display: block;
}

input,
button {
  font-family: GlobeTrekkerOutlineItalic, cursive;
  font-weight: bold;
  font-size: 1.2rem;
}

button.next_button {
  float: right;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(180, 220, 255);
  border-radius: 5px;
}

.info {
  display: inline-block;
  cursor: default;
  margin: 20px 0 30px;
  background-color:silver;
  padding: 10px;
  border: 2px solid #000;
}




