<div class="container">
  <form [formGroup]="dropdownList">
    <ul id="progressbar">
      <li [ngClass]="step >= 1 ? 'active' : 'inactive'">Dropdown List</li>
      <li [ngClass]="step >= 2 ? 'active' : 'inactive'">Delivery Address</li>
      <li [ngClass]="step >= 3 ? 'active' : 'inactive'">Payment Method</li>
      <li [ngClass]="step >= 4 ? 'active' : 'inactive'">Delivery Date</li>
      <li [ngClass]="step === 5 ? 'active' : 'inactive'">Submit Button</li>
    </ul>

    <fieldset *ngIf="step === 1">
      <legend>First step</legend>
      <h2>Bikes List</h2>
      <div>
        <select formControlName="dropdown" (change)="selectBike($event)">
          <option selected disabled value="">Select bike</option>
          <option *ngFor="let bike of bikes" value="{{bike.name}}">
            {{bike.name}}: {{bike.description | slice: 0:40}}...
          </option>
        </select>
      </div>
      <button type="button" (click)="next()" name="next" class="next action-button">Next</button>
    </fieldset>
  </form>

  <form [formGroup]="deliveryAddress">
    <fieldset *ngIf="step === 2">
      <legend>Second step</legend>
      <h2>Delivery Address</h2>
      <div>
        <input type="text" formControlName="country" placeholder="Country">
      </div>
      <div>
        <input type="text" formControlName="city" placeholder="City">
      </div>
      <div>
        <input type="text" formControlName="address" placeholder="Address">
      </div>
      <button type="button" (click)="previous()" name="previous"
        class="previous action-button-previous">Previous</button>
      <button type="button" (click)="next()" name="next" class="next action-button">Next</button>
    </fieldset>
  </form>

  <form [formGroup]="paymentMethod">
    <fieldset *ngIf="step === 3">
      <legend>Third step</legend>
      <h2>Payment Method</h2>
      <div>
        <input type="text" formControlName="card" placeholder="Card">
      </div>
      <div>
        <input type="text" formControlName="payPal" placeholder="PayPal">
      </div>
      <div>
        <input type="text" formControlName="cash" placeholder="Cash">
      </div>
      <button type="button" (click)="previous()" name="previous"
        class="previous action-button-previous">Previous</button>
      <button type="button" (click)="next()" name="next" class="next action-button">Next</button>
    </fieldset>
  </form>

  <form [formGroup]="deliveryDate">
    <fieldset *ngIf="step === 4">
      <legend>Forth step</legend>
      <h2>Delivery Date</h2>
      <div class="radio-button-block">
        <div>
          <label>
            <input class="radio-button" type="radio" formControlName="delivery" value="Today">Today
          </label>
        </div>
        <div>
          <label>
            <input class="radio-button" type="radio" formControlName="delivery" value="Tomorrow">Tomorrow
          </label>
        </div>
        <div>
          <label>
            <input class="radio-button" type="radio" formControlName="delivery" value="newDate">Or choose your date from calendar
          </label>
        </div>
        <div *ngIf="isHidden">
          <input class="calendar" type="date" formControlName="calendar" value="{{deliveryDate.value.calendar}}">
        </div>
        <div>
        </div>
      </div>
      <button type="button" (click)="previous()" name="previous"
        class="previous action-button-previous">Previous</button>
      <button type="button" (click)="next()" name="next" class="next action-button">Next</button>
    </fieldset>
  </form>

  <form [formGroup]="submitButton">
    <fieldset *ngIf="step === 5">
      <legend>Fifth step</legend>
      <h2>Info page</h2>
      <!-- <p>{{dropdownList.value.dropdown}}</p> -->
      <p><b>Selected Bike: </b><span class="underline" *ngIf="selectedBike !== 'Select bike'">{{selectedBike}}</span></p>
      <p><b>Country: </b><span class="underline">{{deliveryAddress.value.country}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <b>City: </b><span class="underline">{{deliveryAddress.value.city}}</span></p>
      <p><b>Address: </b><span class="underline">{{deliveryAddress.value.address}}</span></p>
      <p><b>Card: </b><span class="underline">{{paymentMethod.value.card}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <b>PayPal: </b><span class="underline">{{paymentMethod.value.payPal}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Cash: </b><span class="underline">{{paymentMethod.value.cash}}</span></p>
      <p *ngIf="deliveryDate.value.delivery !== 'newDate'"><b>Delivery Date: </b><span class="underline">{{deliveryDate.value.delivery}}</span></p>
      <p *ngIf="deliveryDate.value.delivery === 'newDate'"><b>Delivery Date: </b><span class="underline">{{deliveryDate.value.calendar | date: 'dd.MM.yyyy'}}</span></p>
      <button type="button" (click)="previous()" name="previous"
        class="previous action-button-previous">Previous</button>
      <button type="submit" (click)="submit()" name="submit" class="submit action-button">Submit</button>
    </fieldset>
  </form>
</div>