* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  height: 100vh;
  width: 100vw;
  border-top: 5px solid #35363a;
}

.item1 {
  background-color: #e65000;
  grid-column: 3 / 4;
}

.item2 {
  background-color: #be350d;
  grid-column: 4 / 5;
    
}

.item3 {
  background-color: #4a148b;
  grid-column: 2 / 3;
}

.item4 {
  background-color: #e65000;
}

.item5 {
  background-color: #870d4f;
  grid-column: 1 / 2;
}

.item6 {
  background-color: #e65000;
  grid-column: 3 / 4;
}
