input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

main {
  font-size: 1.2rem;
}

.order-form {
  padding: 40px 0 0 10%;
}

.order-form button {
  cursor: pointer;
  margin: 10px 0 10px 7px;
  transform: scale(1.2);
}

.order-form #expiration_month,
.order-form #expiration_year {
  display: inline;
  text-align: center;
}

.order-form li {
  list-style-type: none;
  margin: 0 0 15px;
}

.order-form label {
  display: block;
  margin: 0 0 5px 0;
}

.order-form #model {
  margin: 0 0 10px 40px;
}

.order-form p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.order-form #billing_regions,
.order-form #delivery_regions {
  width: 280px;
}

.order-form .region,
.order-form .card,
.order-form .date,
.order-form .day,
.order-form .month,
.order-form .year {
  font-size: 1.2rem;
  font-weight: initial;
  margin: 0 0 5px 0;
}

.order-form #same {
  cursor: pointer;
  margin-left: 25px;
  transform: scale(1.4);
}

.order-form .same {
  display: inline-block;
  margin-bottom: 15px;
}

.order-form select {
  display: block;
}

.order-form textarea {
  margin: 0 0 30px 40px;
}

.order-form ul {
  margin: 0 0 30px;
}
