.fb-login-button {
  margin: 0 0 0 100px;
}

.enter {
  margin: 0 0 10px 100px;
}

.register-form {
  padding: 30px 0 20px 100px;
}

.register-form button {
  cursor: pointer;
  margin: 10px 0 10px 7px;
  transform: scale(1.2);
}

.register-form div {
  margin: 0 0 10px 0;
}

.register-form label {
  display: block;
  margin: 10px 0 5px 0;
}

main {
  font-size: 1.2rem;
}



