<div class="container">
  <article class="top-bike">
    <div class="top-bike__discount">
      <div class="top-bike__discount-number top-discount-number">
        {{ bikes[0].discount }}%
      </div>
    </div>
    <div class="top-bike__image">
      <img src="{{ bikes[0].imgUrl }}" alt="top-bike">
    </div>
    <div class="top-bike__price">
      <p>{{ bikes[0].price | currency:'EUR':'symbol':'1.0-0' }}</p>
      <p>{{ (bikes[0].price * 100 / 30) | currency:'EUR':'symbol':'1.0-0' }}</p>
    </div>

    <div class="top-bike__text">
      <div>
        <b>Name: </b>{{ bikes[0].name }}
      </div>
      <div>
        <b>Shop: </b>{{ bikes[0].shop }}
      </div>
      <div>
        <b>Colors: </b>
        <span *ngFor="let b of bikes[0].color; let isLast = last;">
          <span *ngIf="isLast; else toLast">
            {{ b }}
          </span>
          <ng-template #toLast>
            {{ b }},
          </ng-template>
        </span>
      </div>
      <div>
        <b>Sizes: </b>
        <span *ngFor="let b of bikes[0].size; last as isLast;">
          <span *ngIf="!isLast; else toLast">
            {{ b }},
          </span>
          <ng-template #toLast>
            {{ b }}
          </ng-template>
        </span>
      </div>
      <details>
        <summary><b>Description: </b><br>
          {{ bikes[0].description | slice: 0:35 }}
        </summary>
        {{ bikes[0].description | slice: 35 }}
      </details>
      <div>
        <b>Review: </b>{{ bikes[0].review[0].text }}
      </div>
      <div>
        <b>Author: </b>{{ bikes[0].review[0].author }}
      </div>
      <div>
        <b>Rating: </b>{{ bikes[0].review[0].rating }}
      </div>
    </div>

    <div class="top-bike__new">
      <p *ngIf="bikes[0].new; else notNew">New</p>
      <ng-template #notNew>-</ng-template>
    </div>
    <div class="top-bike__time">
      <time title="{{ bikes[0].discountUntil }}">
        {{ bikes[0].discountUntil }}
      </time>
    </div>
    <div class="top-bike__free">
      <p>{{ bikes[0].shipping }}</p>
    </div>
  </article>

  <div class="bikes">
    <article [ngClass]="['bike', bike.discount < 50 ? 'bike2' : 'bike1']" 
    *ngFor="let bike of bikes.slice(1); let i = index">
      <div class="bike__discount">
        <div class="bike__discount-number discount-number2" *ngIf="bike.discount < 50">
          {{ bike.discount }}%
        </div>
        <div class="bike__discount-number discount-number1" *ngIf="bike.discount >= 50">
          {{ bike.discount }}%
        </div>
      </div>
      <div class="bike__image">
        <img src="{{ bike.imgUrl }}" alt="bike{{ i + 1 }}">
      </div>

      <div class="bike__text">
        <div>
          <b>Name: </b>{{ bike.name }}
        </div>
        <div>
          <b>Shop: </b>{{ bike.shop }}
        </div>
        <div>
          <b>Colors: </b>
          <span *ngFor="let b of bike.color; last as isLast">
            <span *ngIf="!isLast; else toLast">
              {{ b }},
            </span>
            <ng-template #toLast>
              {{ b }}
            </ng-template>
          </span>
        </div>
        <div>
          <b>Sizes: </b>
          <span *ngFor="let b of bike.size; last as isLast">
            <span *ngIf="!isLast; else toLast">
              {{ b }},
            </span>
            <ng-template #toLast>
              {{ b }}
            </ng-template>
          </span>
        </div>
        <details>
          <summary><b>Description: </b><br>
            {{ bike.description | slice: 0:40 }}
          </summary>
          {{ bike.description | slice: 40 }}
        </details>
        <div *ngFor="let b of bike.review">
          <div>
            <b>Review: </b>{{ b.text }}
          </div>
          <div>
            <b>Author: </b>{{ b.author }}
          </div>
          <div>
            <b>Rating: </b>{{ b.rating }}
          </div>
        </div>
      </div>

      <div class="bike__price price2" *ngIf="bike.discount < 50">
        <p>{{ bike.price | currency:'EUR':'symbol':'1.0-0' }}</p>
        <p>
          {{ (bike.price * 100 / (100 - bike.discount)) | currency:'EUR':'symbol':'1.0-0' }}
        </p>
      </div>
      <div class="bike__price price1" *ngIf="bike.discount >= 50">
        <p>{{ bike.price | currency:'EUR':'symbol':'1.0-0' }}</p>
        <p>
          {{ (bike.price * 100 / (100 - bike.discount)) | currency:'EUR':'symbol':'1.0-0' }}
        </p>
      </div>
      <div class="bike__new">
        <p *ngIf="bike.new; then isNew else notNew"></p>
        <ng-template #isNew>
          <p>New</p>
        </ng-template>
        <ng-template #notNew>
          <p>-</p>
        </ng-template>
      </div>
      <div class="bike__time">
        <time title="{{ bike.discountUntil }}">
          {{ bike.discountUntil }}
        </time>
      </div>
      <div class="bike__free">
        <p *ngIf="bike.shipping">Free shipping</p>
        <p *ngIf="!bike.shipping">-</p>
      </div>
    </article>
  </div>

</div>