@import 'material-icons/iconfont/material-icons.css';

.container {
  display: grid;
  align-items: start;
  grid-template-areas: "picture info"
                       "back button";
  grid-template-rows: minmax(450px, 1fr) minmax(60px, auto);
  grid-template-columns: 60% 1fr;
  /* height: 100%; */
  cursor: default;
}

.picture {
  grid-area: picture;
}

.picture img {
  object-fit: contain;
  max-width: 100%;
  max-height: 400px;
  padding: 10px;
}

.info {
  grid-area: info;
  padding: 10px;
}

.back {
  grid-area: back;
  place-self: center;
  margin-bottom: 10px;
}

.button-block {
  grid-area: button;
  padding: 10px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1.3rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
                   7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                   4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background: #d3487d;
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
                    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.btn:active {
  top: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 80px;
}

h1 {
  margin: 0 0 15px 0;
}

.description-block {
  height: 55px;
  overflow: hidden;
  order: 0;
}

input[type="checkbox"] {
 display: none;
}

input[type="checkbox"]:checked + .description-block {
  height: 55px;
  overflow: auto;
}

.wrapper label {
  order: 1;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.price-block {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.fa-icons {
  margin-bottom: 5px;
}

.fa-icons span {
  color: blue;
  margin-left: 5px;
}

.reviews-block {
  display: flex;
  justify-content: space-between;
  color: blue;
}

.color-block p,
.size-block p {
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.color-block select,
.size-block select {
  width: 100%;
}

.availability {
  margin: 10px 0;
}

.availability span {
  font-weight: bold;
}

.quantity-block {
  margin-bottom: 15px;
}

.quantity-block label {
  display: block;
  margin-bottom: 5px;
}

.quantity-block input {
  width: 100%;
}

.shopping-cart,
.wish-list {
  display: block;
  margin: 10px 0;
  width: 100%;
}

.shopping-cart {
  background-color: aqua;
}

@media (max-width: 991px) {
  .container {
    display: grid;
    grid-template-areas: "picture"
                         "info"
                         "button"
                         "back";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

}

