form {
  margin: 50px 0 0 250px;
  font-size: 1.3rem;
}

form > div {
  margin: 15px;
}

form label {
  width: 130px;
  display: inline-block;
}

button {
  margin: 30px 0 0 300px;
  cursor: pointer;
  padding: 7px 10px;
}

