.container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 40% 1fr;
  grid-template-rows: minmax(0, 1fr);
  height: calc(100% - 20px);
  margin: 10px;
  cursor: default;
}

.bikes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 100%);
  overflow: auto;
}

.bike {
  background-color: floralwhite;
  display: grid;
  grid-template-columns: 1fr 1fr 45%;
  grid-template-rows: 20% 30% 1fr 10% 6%;
  margin: 3px;
}

.top-bike:hover {
  outline: 3px solid red;
}

.bike1 {
  border: 1px solid #ff69b4;
}

.bike1:hover {
  outline: 3px solid #ff69b4;
}

.bike2 {
  border: 1px solid #ff8c00;
}

.bike2:hover {
  outline: 3px solid #ff8c00;
}

.bike__discount {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.bike__discount-number {
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 1.4vw;
  height: 3.5vw;
  margin: 5% auto auto 5%;
  /* max-height: 100%; */
  padding-top: 5%;
  text-align: center;
  width: 3.5vw;
}

.discount-number1 {
  background-color: #ff69b4;
}

.discount-number2 {
  background-color: #ff8c00;
}

.bike__image {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  /* margin: auto; */
}

.bike__image img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.bike__free p,
.bike__new p,
.bike__time time,
.top-bike__new p,
.top-bike__free p,
.top-bike__time time {
  margin: auto;
  white-space: nowrap;
}

.bike__price {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  display: flex;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.bike__price p,
.top-bike__price p {
  margin: auto 0 auto 0.5vw;
}

.top-bike__price p:first-child {
  color: red;
  font-size: 1.3rem;
  font-weight: bold;
}

.price1 p:first-child {
  color: #ff69b4;
}

.price2 p:first-child {
  color: #ff8c00;
}

.bike__price p:nth-child(2),
.top-bike__price p:nth-child(2) {
  text-decoration: line-through;
}

.bike__text {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  overflow: auto;
  margin: 10px;
}

.bike__free,
.bike__new,
.bike__time,
.top-bike__new,
.top-bike__free,
.top-bike__time {
  display: flex;
  overflow: hidden;
}

.bike__free {
  grid-column: 3 / 4;
}

.bike__new {
  display: flex;
  grid-column: 1 / 2;
}

.bike__time {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  grid-column: 2 / 3;
}

.top-bike {
  background-color: floralwhite;
  border: 1px solid red;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: 60% 10% 1fr 6%;
  margin: 3px;
}

.top-bike__discount {
  grid-column: 1 / 2;
}

.top-bike__discount-number {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  height: 4vw;
  margin: 20% auto;
  padding-top: 22%;
  text-align: center;
  width: 4vw;
}

.top-bike__time {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}

.top-bike__image {
  display: flex;
  grid-column: 2 / 4;
  margin: auto;
}

.top-bike__image img {
  max-height: 100%;
  width: 100%;
}

.top-bike__price {
  border-top: 2px solid blue;
  display: flex;
  grid-column: 1 / 4;
}

.top-bike__text {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  grid-column: 1 / 4;
  padding: 10px;
  overflow: auto;
}


@media (max-width: 991px) {
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 460px;
  }

  .top-bike {
    grid-row: 1 / 2;
  }

  .bikes {
    grid-row: 2 / 3;
  }

  .top-bike__discount-number {
    padding-top: 12%;
  }

  .bike__discount-number {
    padding-top: 4%;
  }
}
