@font-face {
  font-family: 'Comic CAT';
  src: url('fonts/Comic_CAT.otf') format('otf'),
       url('fonts/comic_cat-webfont.woff') format('woff'),
       url('fonts/comic_cat-webfont.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('img/pexels-snapwire-34950.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Comic CAT", "Comic Sans MS", sans-serif;
}

.customer_form {
  display: flex;
}

.customer_form li {
  list-style-type: none;
  margin: 30px 0;
}

.customer_form ul {
  margin: 0 auto 50px auto;
  flex-direction: column;
}

.customer_form p {
  display: inline-block;
}

h1 {
  margin: 30px 0;
  text-align: center;
}

.customer_form select,
.customer_form input,
.customer_form button {
  font-size: 85%;
  font-family: "Comic CAT", "Comic Sans MS", sans-serif;
}

.customer_form button {
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
} 
.customer_form button:hover {
  background: rgb(53, 167, 110);
}

.customer_form button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

