body {
  box-sizing: border-box;
  background: linen;
  margin: 0;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.top-container {
  padding: 30px;
  text-align: center;
  height: 150px;
}

.header {
  padding: 10px 16px;
  color: #f1f1f1;
}

#header1 {
  background: crimson;
}

#header2 {
  background: goldenrod;
}

#header3 {
  background: forestgreen;
}

#header4 {
  background: rebeccapurple;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}