@font-face {
  font-family: SweetCheese;
  src: local('SweetCheese'),
       url('../fonts/Sweet Cheese/SweetCheese.woff2') format('woff2'),
       url('../fonts/Sweet Cheese/SweetCheese.woff') format('woff'),
       url('../fonts/Sweet Cheese/SweetCheese.ttf') format('ttf'),
       url('../fonts/Sweet Cheese/SweetCheese.otf') format('otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  font-family: SweetCheese, cursive;
  color:rgba(207, 76, 93, 0.89);
  font-size: 1.5rem;
  text-shadow: black 1px 1px 0, black -1px -1px 0, 
               black -1px 1px 0, black 1px -1px 0;
  background-image: url('../img/zoe-4yfJFOujfgM-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 50px auto 20px;
}

main {
  margin: 0 auto;
}

div {
  margin: 10px 0;
}

.data {
  font-weight: bold;
}

#data1,
#data2,
#data3 {
  margin-left: 20px;
  color:turquoise;
  line-height: 2rem;
}


@media (max-width: 768px) {
  body {
    font-size: 5vw;
  }
}


