@font-face {
  font-family: SweetCheese;
  src: local('SweetCheese'),
       url('../fonts/Sweet Cheese/SweetCheese.woff2') format('woff2'),
       url('../fonts/Sweet Cheese/SweetCheese.woff') format('woff'),
       url('../fonts/Sweet Cheese/SweetCheese.ttf') format('ttf'),
       url('../fonts/Sweet Cheese/SweetCheese.otf') format('otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  /* color:floralwhite; */
  color: palegoldenrod;
  font-family: SweetCheese, cursive;
  font-size: 1.5rem;
  text-shadow: black 1px 1px 0, black -1px -1px 0, 
               black -1px 1px 0, black 1px -1px 0;
  background-image: url('../img/marek-piwnicki-XSK0fZAXcE0-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  /* text-align: center; */
  margin: 50px auto 20px;
}

form {
  margin: 0 auto 30px auto;
}

div {
  margin: 10px 0;
}

.lodgings {
  margin: 25px 0 0 0;
}

.lodgings > div {
  margin-left: 20px;
}

label {
  display: block;
}

#button {
  margin: 10px 0 0 80px;
}

input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.7);
}

input,
button {
  font-family: SweetCheese, cursive;
  font-size: 1.4rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #f64c2b;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: linear-gradient(#fb9575, #f45a38 48%, #ea1502 52%, #f02f17);
}

button:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}


@media (max-width: 768px) {
  body {
    font-size: 4vw;
  }

  input,
  button {
    font-size: 4vw;
  }

  input[type="checkbox"] {
    transform: scale(1.8);
  }
}



